.App {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-with-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.input-with-label input[type='checkbox'] {
  margin-right: 6px;
}

.flex-row {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input-with-label label {
  margin-bottom: 4px;
}

.input-with-label.flex-row label {
  margin-bottom: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  padding: 20px;
  width: 100%;
  display: flex;
}

.header::before {
  content: '';
  padding: 10px;
}

.header::after {
  content: '';
  padding: 10px;
}